<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        <MudThemeProvider Theme="_theme" />
        <MudDialogProvider />
        <MudSnackbarProvider />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <div class="flex-1 flex justify-center items-center">
            <a class="text-gray-400 opacity-50 flex flex-col items-center p-5 hover:text-orange-500 cursor-pointer" href="">
                <span class="text-[150px] mdi mdi-robot-confused"></span>
                <span class="text-xl font-bold tracking-widest">PAGE NOT FOUND</span>
            </a>
        </div>
    </NotFound>
</Router>

@code {
    private MudTheme _theme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#0e7490", /* Tailwind cyan-700 */
            Secondary = "#f97316", /* Tailwind orange-500 */
            Success = "#059669", /* Tailwind emerald-600 */
        }
    };
}