@page "/chart-test"

<PageTitle>Chart Test Page</PageTitle>

<div class="row-start-2 col-start-2 col-span-2 row-span-2 p-5 flex">
    <Chart LineSeriesData="_lineSeriesData" BeginAtZero="true" />
</div>

