@page

@using Microsoft.Extensions.Options
@using Nexus.Core
@using System.Net

@inject IOptions<SecurityOptions> SecurityOptions

@{
    string _returnUrl = WebUtility.UrlEncode(Request.Query["ReturnUrl"].FirstOrDefault() ?? "/");
}

<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nexus</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="icon" type="image/png" href="/icons/32x32.png" />
    <style>
        .oidc-provider-container:hover {
            border-color: rgb(14 116 144) !important;
        }
    </style>
</head>

<body style="height: 100%;">

    <div style="height: 66%; display: flex; justify-content: center; align-items: center">
        <div 
            style="
                display: flex; flex-direction: column; align-items: center; width: 18rem; border-radius: 0.375rem;
                border-style: solid; border-width: 1px; border-color: rgb(209 213 219); background-color: rgb(255 255 255); 
                padding: 2.5rem; filter: drop-shadow(0 0 0.75rem rgb(225, 225, 225))">

            <span 
                style="
                    font-weight: 600; font-size: 1.5rem; line-height: 2rem; padding-bottom: 0.5rem; 
                    color: rgb(21 94 117); margin-bottom: 1.25rem; letter-spacing: 0.1em; text-transform: uppercase;">
                Login
            </span>

            <div style="display: flex; flex-direction: column; gap: 1.25rem;">
                @foreach (var provider in SecurityOptions.Value.OidcProviders.Any() ? SecurityOptions.Value.OidcProviders : new List<OpenIdConnectProvider>() { NexusAuthExtensions.DefaultProvider })
                {
                    <div class="oidc-provider-container" style="
                        display: flex; justify-content: center; padding-left: 1.5rem; padding-right: 1.5rem; padding-top: 0.5rem; padding-bottom: 0.5rem;
                        font-size: 1.25rem; line-height: 1.75rem; color: rgb(14 116 144); border-bottom: solid; border-bottom-width: 1px; border-color: rgb(209 213 219);
                        cursor: pointer;">
                        <form action="/api/v1/users/authenticate?scheme=@provider.Scheme&returnUrl=@_returnUrl" method="post">
                            <button style="border: none" type="submit">@provider.DisplayName</button>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>

</body>
</html>