.chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

    .legend {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .legend-item {
        display: flex;
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        align-items: center;
        font-size: 0.9rem;
        cursor: pointer;
        user-select: none;
    }

        .legend-item.inactive {
            opacity: 0.3;
        }

    .color-box {
        width: 1em;
        height: 1em;
        border: 2px solid transparent;
        margin-right: 0.2rem;
    }

    .name {
        margin-right: 0.4rem;
        font-weight: 600;
    }

.chart {
    position: relative;
    width: 100%;
    flex: 1;
}

    ::deep canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .pointer {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        margin-left: -2px;
        margin-top: -2px;
    }

.overlay {
    position: relative;
}

    .overlay * {
        pointer-events: none;
    }

    .crosshairs-x {
        position: absolute;
        left: 0;
        width: 100%;
        border-bottom: 1px dashed #607D8B;
    }

    .crosshairs-y {
        position: absolute;
        top: 0;
        height: 100%;
        border-right: 1px dashed #607D8B;
    }

    .selection {
        position: absolute;
        background: rgba(0, 0, 0, 0.07);
        height: 100%;
    }