@inherits LayoutComponentBase
@inject AppState AppState

<div id="app" class="bg-gradient-to-b from-white to-slate-200">

    <AuthorizeView>

        <Authorized>
            <div class="h-full grid sm:grid-rows-[auto,1fr] bg-white">

                <Navbar OpenHamburgerMenu="() => AppState.IsHamburgerMenuOpen = true" />

                <div class="min-h-0">
                    @Body
                </div>

            </div>
            @if (AppState.IsHamburgerMenuOpen)
            {
                <HamburgerMenu @bind-IsOpen="AppState.IsHamburgerMenuOpen" Width="w-72" />
            }
        </Authorized>

        <NotAuthorized>
            <LoginRedirect />
        </NotAuthorized>

    </AuthorizeView>

</div>